<template name="createPatient">
    <form class="main">
        <div class="control-group">
            <label class="control-label" for="firstName">First Name</label>
            <div class="controls">
                <input id="firstName" name="firstName" type="text" value="" placeholder="First"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="lastName">Last Name</label>
            <div class="controls">
                <input id="lastName" name="lastName" type="text" value="" placeholder="Surname"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="dob">DOB</label>
            <div class="controls">
                <input id="dob" name="dob" type="text" value="" placeholder="MM/DD/YYYY"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="postalCode">Postal Code</label>
            <div class="controls">
                <input id="postalCode" name="postalCode" type="text" value="" placeholder="00000"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="phone">Phone</label>
            <div class="controls">
                <input id="phone" name="phone" type="text" value="" placeholder="999-999-9999"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="email">Email</label>
            <div class="controls">
                <input id="email" name="email" type="text" value="" placeholder="someone@domain.net"/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Submit" class="btn btn-primary"/>
            </div>
        </div>
    </form>
</template>